In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer 
from sklearn.ensemble import RandomForestRegressor

In [2]:
features = pd.read_csv('features.csv.zip')
test2 = pd.read_csv('test.csv.zip')
stores = pd.read_csv('stores.csv')

In [3]:
train = pd.read_csv('train.csv.zip')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [5]:
train = pd.merge(left=train, right=features, how='left', on=['Store', 'Date'])

In [6]:
train = pd.merge(train, stores, how='left', on='Store')

In [7]:
train = train.drop(['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'IsHoliday_y'], axis=1)

In [8]:
def merge_and_drop(train, features, stores):
    train = pd.merge(left=train, right=features, how='left', on=['Store', 'Date'])
    train = pd.merge(train, stores, how='left', on='Store')
    train = train.drop(['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'IsHoliday_y'], axis=1)
    return train

In [9]:
test = merge_and_drop(test2, features, stores)

In [10]:
train

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,211.096358,8.106,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,211.242170,8.106,A,151315
2,1,1,2010-02-19,41595.55,False,39.93,2.514,211.289143,8.106,A,151315
3,1,1,2010-02-26,19403.54,False,46.63,2.561,211.319643,8.106,A,151315
4,1,1,2010-03-05,21827.90,False,46.50,2.625,211.350143,8.106,A,151315
...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,64.88,3.997,192.013558,8.684,B,118221
421566,45,98,2012-10-05,628.10,False,64.89,3.985,192.170412,8.667,B,118221
421567,45,98,2012-10-12,1061.02,False,54.47,4.000,192.327265,8.667,B,118221
421568,45,98,2012-10-19,760.01,False,56.47,3.969,192.330854,8.667,B,118221
421569,45,98,2012-10-26,1076.80,False,58.85,3.882,192.308899,8.667,B,118221

In [11]:
features.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [12]:
features.shape

(8190, 12)

In [13]:
features = features.dropna()

In [14]:
train.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday_x     0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
Type            0
Size            0
dtype: int64

In [15]:
train

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,211.096358,8.106,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,211.242170,8.106,A,151315
2,1,1,2010-02-19,41595.55,False,39.93,2.514,211.289143,8.106,A,151315
3,1,1,2010-02-26,19403.54,False,46.63,2.561,211.319643,8.106,A,151315
4,1,1,2010-03-05,21827.90,False,46.50,2.625,211.350143,8.106,A,151315
...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,64.88,3.997,192.013558,8.684,B,118221
421566,45,98,2012-10-05,628.10,False,64.89,3.985,192.170412,8.667,B,118221
421567,45,98,2012-10-12,1061.02,False,54.47,4.000,192.327265,8.667,B,118221
421568,45,98,2012-10-19,760.01,False,56.47,3.969,192.330854,8.667,B,118221
421569,45,98,2012-10-26,1076.80,False,58.85,3.882,192.308899,8.667,B,118221

In [16]:
train = pd.get_dummies(train, columns=['Store', 'Dept', 'Type'])

In [17]:
train['IsHoliday_x'] = train['IsHoliday_x'].replace({True: 1, False:0})

In [18]:
train['Date'] = pd.to_datetime(train['Date'])

In [19]:
train['Date']

0        2010-02-05
1        2010-02-12
2        2010-02-19
3        2010-02-26
4        2010-03-05
            ...
421565   2012-09-28
421566   2012-10-05
421567   2012-10-12
421568   2012-10-19
421569   2012-10-26
Name: Date, Length: 421570, dtype: datetime64[ns]

In [20]:
train['Month'] = train['Date'].dt.month
train['Week'] = train['Date'].dt.isocalendar().week
train['Day'] = train['Date'].dt.dayofyear
train['Week_till_xmas'] = 51 - train['Date'].dt.isocalendar().week
train['Year'] = train['Date'].dt.year

In [21]:
train_X = train.drop('Weekly_Sales', axis=1)
train_y = train['Weekly_Sales']

In [22]:
scaler = StandardScaler()

In [23]:
col_names = ['Temperature', 'Fuel_Price', 'CPI', 'Unemployment', 'Size', 'Month', 'Week', 'Day', 'Week_till_xmas', 'Year']
features = train_X[col_names]


ct = ColumnTransformer([
        ('somename', StandardScaler(), ['Temperature', 'Fuel_Price', 'CPI', 'Unemployment', 'Size','Month', 'Week', 'Day', 'Week_till_xmas', 'Year' ])
    ], remainder='passthrough')

In [24]:
col_names = ['Temperature', 'Fuel_Price', 'CPI', 'Unemployment', 'Size', 'Month', 'Week', 'Day', 'Week_till_xmas', 'Year']
features = train_X[col_names]
scaler = StandardScaler().fit(features.values)
features = scaler.transform(features.values)

In [25]:
train_X[['Temperature', 'Fuel_Price', 'CPI', 'Unemployment', 'Size', 'Month', 'Week', 'Day', 'Week_till_xmas', 'Year']] = features

In [27]:
train_X = train_X.drop('Date', axis=1)

In [28]:
rf_model = RandomForestRegressor()
rf_model.fit(train_X, train_y)

RandomForestRegressor()